git+https://github.com/wazo-platform/xivo-dao
git+https://github.com/wazo-platform/xivo-lib-python  # from xivo-dao
alembic==1.0.0
migra[pg]
packaging  # missing from sqlbag -> from migra
pytz==2019.1
pyyaml
sh
sqlalchemy-utils==0.32.21
sqlalchemy==1.2.18
unidecode==1.0.23  # from alembic scripts
